<launch>
  <group ns="pedestrian0">
    <include file="$(find gazebo)/launch/spawn_sdf.launch">
        <arg name="robot_name" value="pedestrian0" />
        <arg name="x" value="2.5" />
        <arg name="y" value="-4.6" />
        <arg name="z" value="0.0" />
        <arg name="roll" value="0"/>
        <arg name="pitch" value="0"/>
        <arg name="yaw" value="1.57" />
        <arg name="sdf_robot_file" value="$(find gazebo)/worlds/pedestrian/model.sdf" />
    </include>
  </group>

  <group ns="pedestrian1">
    <include file="$(find gazebo)/launch/spawn_sdf.launch">
        <arg name="robot_name" value="pedestrian1" />
        <arg name="x" value="2.5" />
        <arg name="y" value="-4.77" />
        <arg name="z" value="0.0" />
        <arg name="roll" value="0"/>
        <arg name="pitch" value="0"/>
        <arg name="yaw" value="1.57" />
        <arg name="sdf_robot_file" value="$(find gazebo)/worlds/pedestrian/model.sdf" />
    </include>
  </group>
    
</launch>
