<launch>
    <include file="$(find gazebo)/launch/spawn_sdf.launch">
        <arg name="robot_name" value="pedestrian0" />
        <arg name="x" value="2.5" />
        <arg name="y" value="-4.6" />
        <arg name="z" value="0.0" />
        <arg name="roll" value="0"/>
        <arg name="pitch" value="0"/>
        <arg name="yaw" value="1.57" />
        <arg name="sdf_robot_file" value="$(find gazebo)/worlds/pedestrian0/model.sdf" />
    </include>

    <include file="$(find gazebo)/launch/spawn_sdf.launch">
        <arg name="robot_name" value="pedestrian1" />
        <arg name="x" value="2.5" />
        <arg name="y" value="-4.77" />
        <arg name="z" value="0.0" />
        <arg name="roll" value="0"/>
        <arg name="pitch" value="0"/>
        <arg name="yaw" value="1.57" />
        <arg name="sdf_robot_file" value="$(find gazebo)/worlds/pedestrian1/model.sdf" />
    </include>

    <include file="$(find gazebo)/launch/spawn_sdf.launch">
        <arg name="robot_name" value="obstacle0" />
        <arg name="x" value="3.63" />
        <arg name="y" value="-2.89" />
        <arg name="z" value="0.0" />
        <arg name="roll" value="0"/>
        <arg name="pitch" value="0"/>
        <arg name="yaw" value="0" />
        <arg name="sdf_robot_file" value="$(find gazebo)/worlds/obstacle/model.sdf" />
    </include>

    <include file="$(find gazebo)/launch/spawn_sdf.launch">
        <arg name="robot_name" value="obstacle1" />
        <arg name="x" value="3.63" />
        <arg name="y" value="-2.73" />
        <arg name="z" value="0.0" />
        <arg name="roll" value="0"/>
        <arg name="pitch" value="0"/>
        <arg name="yaw" value="0" />
        <arg name="sdf_robot_file" value="$(find gazebo)/worlds/obstacle/model.sdf" />
    </include>
    
</launch>
